body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#0e4b38, #7c0a02);
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.vista {
  display: none;
  background: rgba(255, 255, 255, 0.14);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(6px);
  width: 80%;
  max-width: 700px;
}

.visible {
  display: block;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #f5f5f5;
  color: #000000;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #ffe1e1;
}

.btn-regresar {
  background: #fff;
  color: #042aff;
  margin-bottom: 20px;
}

pre {
  text-align: left;
  background: #00000080;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  overflow-x: auto;
  font-size: 15px;
}

#snow {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 1em;
  user-select: none;
  opacity: 0.9;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(110vh);
  }
}
